# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

./Go_projecti
Go_project

# Test binary, build output
*.test
*.out

# Output of the Go coverage tool
*.coverprofile


# IDE/editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
.env
./env 

